# $Id$
#
# This is used with Apache WebServers
#
# For this to work, you must include the parameter 'Options' to
# the AllowOverride configuration
#

RewriteEngine On
RewriteBase /api/

# Route /v1/anything → core/Router.php
RewriteRule ^v1/(.*)$ core/router.php [QSA,L]